[submodule "API/YumStudioSharp"]
	path = API/YumStudioSharp
	url = https://github.com/YumStudioHQ/Yum4Godot.git
[submodule "API/cxx/maw"]
	path = API/cxx/maw
	url = https://github.com/wys-prog/maw.git
[submodule "API/cxx/native/wyfs"]
	path = API/cxx/native/wyfs
	url = https://github.com/wys-prog/wyfs.git
[submodule "API/cxx/native/warden"]
	path = API/cxx/native/warden
	url = https://github.com/wys-prog/warden.git
