[submodule "API/YumStudioSharp"]
	path = API/YumStudioSharp
	url = https://github.com/YumStudioHQ/Yum4Godot.git
[submodule "API/cxx/Maw"]
	path = API/cxx/Maw
	url = https://github.com/wys-prog/maw.git
